Importing all the libraries

In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sn

import plotly.express as px

In [ ]:
batsmans = pd.read_csv('batting_summary.csv')

Analysing the data

In [4]:
batsmans.head(3)

,Match_no,Match_Between,Team_Innings,Batsman_Name,Batting_Position,Dismissal,Runs,Balls,4s,6s,Strike_Rate
0,1,England vs New Zealand,England,Jonny Bairstow,1,c Daryl Mitchell b Mitchell Santner,33,35,4,1,94.300
1,1,England vs New Zealand,England,Dawid Malan,2,c Tom Latham b Matt Henry,14,24,2,0,58.300
2,1,England vs New Zealand,England,Joe Root,3,b Glenn Phillips,77,86,4,1,89.500

In [5]:
batsmans.tail(3)

,Match_no,Match_Between,Team_Innings,Batsman_Name,Batting_Position,Dismissal,Runs,Balls,4s,6s,Strike_Rate
913,48,India vs Australia,Australia,Steve Smith,4,lbw b Jasprit Bumrah,4,9,1,0,44.444
914,48,India vs Australia,Australia,Marnus Labuschagne,5,not out,58,110,4,0,52.727
915,48,India vs Australia,Australia,Glenn Maxwell,6,not out,2,1,0,0,200.000

Fixing null values by checking with ESPNCricinfo

In [6]:
batsmans.isnull().sum()

Match_no            0
Match_Between       0
Team_Innings        0
Batsman_Name        0
Batting_Position    0
Dismissal           2
Runs                0
Balls               0
4s                  0
6s                  0
Strike_Rate         0
dtype: int64

In [7]:
null_rows = batsmans[batsmans.isnull().any(axis=1)]
null_rows

,Match_no,Match_Between,Team_Innings,Batsman_Name,Batting_Position,Dismissal,Runs,Balls,4s,6s,Strike_Rate
679,34,Netherlands vs Afghanistan,Afghanistan,Rahmanullah Gurbaz,1,NaN,10,11,2,0,90.909
740,38,Sri Lanka vs Bangladesh,Sri Lanka,Angelo Mathews,6,NaN,0,0,0,0,---

In [8]:
batsmans.loc[
    (batsmans["Match_no"] == 34) & (
        batsmans["Batsman_Name"] == "Rahmanullah Gurbaz"),
    "Dismissal"
] = "c Scott Edwards b Logan van Beek"

In [9]:
batsmans.loc[
    (batsmans["Match_no"] == 38) & (
        batsmans["Batsman_Name"] == "Angelo Mathews"),
    "Dismissal"
] = "Timed out"

In [10]:
batsmans.isnull().sum()

Match_no            0
Match_Between       0
Team_Innings        0
Batsman_Name        0
Batting_Position    0
Dismissal           0
Runs                0
Balls               0
4s                  0
6s                  0
Strike_Rate         0
dtype: int64

In [11]:
batsmans.describe()

,Match_no,Batting_Position,Runs,Balls,4s,6s
count,916.000000,916.000000,916.000000,916.000000,916.000000,916.000000
mean,24.669214,5.398472,26.510917,29.021834,2.533843,0.727074
std,14.042355,3.035952,30.788666,28.493381,3.119120,1.482049
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,12.000000,3.000000,5.000000,8.000000,0.000000,0.000000
50%,25.000000,5.000000,15.000000,19.000000,1.000000,0.000000
75%,37.000000,8.000000,38.000000,40.250000,4.000000,1.000000
max,48.000000,11.000000,201.000000,143.000000,21.000000,11.000000

In [12]:
batsmans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 916 entries, 0 to 915
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Match_no          916 non-null    int64
 1   Match_Between     916 non-null    object
 2   Team_Innings      916 non-null    object
 3   Batsman_Name      916 non-null    object
 4   Batting_Position  916 non-null    int64
 5   Dismissal         916 non-null    object
 6   Runs              916 non-null    int64
 7   Balls             916 non-null    int64
 8   4s                916 non-null    int64
 9   6s                916 non-null    int64
 10  Strike_Rate       916 non-null    object
dtypes: int64(6), object(5)
memory usage: 78.8+ KB

In [13]:
batsmans["Strike_Rate"] = pd.to_numeric(
    batsmans["Strike_Rate"], errors="coerce")

In [14]:
null_rows = batsmans[batsmans.isnull().any(axis=1)]
null_rows

,Match_no,Match_Between,Team_Innings,Batsman_Name,Batting_Position,Dismissal,Runs,Balls,4s,6s,Strike_Rate
426,20,South Africa vs England,England,Reece Topley,11,Hurt Absent,0,0,0,0,NaN
544,27,Australia vs New Zealand,Australia,Josh Hazlewood,11,not out,0,0,0,0,NaN
577,28,Netherlands vs Bangladesh,Bangladesh,Shoriful Islam,11,not out,0,0,0,0,NaN
598,29,India vs England,England,Mark Wood,11,b Jasprit Bumrah,0,0,0,0,NaN
716,36,Australia vs England,England,Mark Wood,11,not out,0,0,0,0,NaN
740,38,Sri Lanka vs Bangladesh,Sri Lanka,Angelo Mathews,6,Timed out,0,0,0,0,NaN

In [15]:
batsmans["Strike_Rate"] = batsmans["Strike_Rate"].fillna(0)

In [16]:
batsmans.isnull().sum()

Match_no            0
Match_Between       0
Team_Innings        0
Batsman_Name        0
Batting_Position    0
Dismissal           0
Runs                0
Balls               0
4s                  0
6s                  0
Strike_Rate         0
dtype: int64

In [17]:
batsmans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 916 entries, 0 to 915
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Match_no          916 non-null    int64
 1   Match_Between     916 non-null    object
 2   Team_Innings      916 non-null    object
 3   Batsman_Name      916 non-null    object
 4   Batting_Position  916 non-null    int64
 5   Dismissal         916 non-null    object
 6   Runs              916 non-null    int64
 7   Balls             916 non-null    int64
 8   4s                916 non-null    int64
 9   6s                916 non-null    int64
 10  Strike_Rate       916 non-null    float64
dtypes: float64(1), int64(6), object(4)
memory usage: 78.8+ KB

In [19]:
batsmans.to_csv("cleaned_batsman_data.csv", index=False)