Importing all the libraries

In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sn

import plotly.express as px

In [4]:
bowlers = pd.read_csv('bowling_summary.csv')

Analysing the data

In [5]:
bowlers.head(3)

,Match_no,Match_Between,Bowling_Team,Bowler_Name,Overs,Maidens,Runs,Wickets,Economy
0,1,England vs New Zealand,New Zealand,Trent Boult,10.0,1,48,1,4.8
1,1,England vs New Zealand,New Zealand,Matt Henry,10.0,1,48,3,4.8
2,1,England vs New Zealand,New Zealand,Mitchell Santner,10.0,0,37,2,3.7

In [6]:
bowlers.tail(3)

,Match_no,Match_Between,Bowling_Team,Bowler_Name,Overs,Maidens,Runs,Wickets,Economy
571,48,India vs Australia,India,Ravindra Jadeja,10.0,0,43,0,4.300
572,48,India vs Australia,India,Kuldeep Yadav,10.0,0,56,0,5.600
573,48,India vs Australia,India,Mohammed Siraj,7.0,0,45,1,6.429

Checking for null values

In [7]:
bowlers.isnull().sum()

Match_no         0
Match_Between    0
Bowling_Team     0
Bowler_Name      0
Overs            0
Maidens          0
Runs             0
Wickets          0
Economy          0
dtype: int64

In [8]:
bowlers.describe()

         Match_no       Overs     Maidens        Runs     Wickets     Economy
count  574.000000  574.000000  574.000000  574.000000  574.000000  574.000000
mean    24.376307    7.351045    0.256098   42.322300    1.202091    5.924564
std     13.956222    2.685601    0.533933   19.651473    1.193757    2.135988
min      1.000000    0.300000    0.000000    1.000000    0.000000    1.355000
25%     12.000000    6.000000    0.000000   30.000000    0.000000    4.500000
50%     24.000000    8.000000    0.000000   41.000000    1.000000    5.670000
75%     36.000000   10.000000    0.000000   55.000000    2.000000    7.075000
max     48.000000   10.000000    3.000000  115.000000    7.000000   16.000000

In [9]:
bowlers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 574 entries, 0 to 573
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Match_no       574 non-null    int64
 1   Match_Between  574 non-null    object
 2   Bowling_Team   574 non-null    object
 3   Bowler_Name    574 non-null    object
 4   Overs          574 non-null    float64
 5   Maidens        574 non-null    int64
 6   Runs           574 non-null    int64
 7   Wickets        574 non-null    int64
 8   Economy        574 non-null    float64
dtypes: float64(2), int64(4), object(3)
memory usage: 40.5+ KB

In [10]:
bowlers.to_csv("cleaned_bowlers_data.csv", index=False)